/* Project-wide style */


body {
  background-color: #353535 ;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#formkegiatan{
  color: white;
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 300px;
  margin-right: 300px;
}

#kegiatan{
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 100px;
}

.col-sm-6{
  margin-bottom: 25px;
}

#formorang{
  color: white;
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 300px;
  margin-right: 300px;
}


