{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static 'static/css/style.css' %}"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {%block style%}
    {%endblock style%}
    <title> Formulir </title>
</head>

{%block content%}

<body>
    <section id="formorang">
        <form action="formorang" method="POST">
          {% csrf_token %}
          <div class="form-group">
              {{form2.as_p}}
          </div>
            <button class="btn btn-primary intabel" method="POST">Submit</button>
        </form>
    
      </section>
</body>

{%endblock content%}
</html>