{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static 'static/css/style.css' %}"> -->
    {%block style%}
    {%endblock style%}
    <title> Pilih Kegiatan </title>
</head>

{%block content%}

<body>
  <section id="formkegiatan">
    <form action="/" method="POST">
      {% csrf_token %}
      <div class="form-group">
          {{form.as_p}}
      </div>
      <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
    </form>

  </section>
  <section id="kegiatan">
    <div class="row">
      {%if kegiatan%}
          {%for k in kegiatan%}
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{k.namaKegiatan}}</h5>
                  {%if orang%}
                    {%for o in orang%}
                      {%if o.kegiatanOrang == k %}
                        <p class="card-text">{{o.namaOrang}}</p>
                      {%endif%}
                    {%endfor%}
                  {%endif%}
                    <a href="{% url 'main:formorang' %}"> 
                      <button class="btn btn-primary intabel">Tambah Peserta</button>
                    </a>
                </div>
              </div>
            </div>
          {%endfor%}
      {%endif%}
      </div>
  </section>
</body>

{%endblock content%}
</html>